<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ee.efley.fitnessmobile"
        versionCode="15" 
        version   = "1.0.5">

    <!-- versionCode is optional and Android only -->

    <name>Fitness.ee</name>

    <description>
       Fitness rakendust
    </description>

    <author href="https://www.efley.ee" email="kristo@efley.ee">
        Efley
    </author>
    
    <access origin="*" />
    
    <preference name="phonegap-version" value="3.0.0" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce" 	value="false" />
    <preference name="orientation" 		value="portrait" />
    <!--<preference name="android-windowSoftInputMode" value="stateAlwaysVisible|adjustPan" />-->
    
    <preference name="splash-screen-duration" value="5000" />
    <preference name="load-url-timeout" value="10000" />
    
    
    <icon src="assets/icon.png" />
    
    <icon src="assets/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="assets/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="assets/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<icon src="assets/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="assets/android/splash.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="assets/android/splash.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="assets/android/splash.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="assets/android/splash.png" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="assets/ios/splash.png"    	gap:platform="ios"	width="320" height="480" />
    <gap:splash src="assets/ios/splash.png" 	gap:platform="ios"	width="640" height="960" />
    <gap:splash src="assets/ios/splash.png" 	gap:platform="ios"	width="640" height="960" />
    <gap:splash src="assets/ios/Default-568h@2x.png" 			gap:platform="ios"	width="640" height="1136" />
    
    <gap:splash src="assets/ios/splash.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="assets/ios/splash.png"     gap:platform="ios"     width="1024" height="768" />
    
    <gap:plugin name="org.apache.cordova.core.file" />
    <gap:plugin name="org.apache.cordova.core.file-transfer" />
    <gap:plugin name="org.apache.cordova.core.network-information" />
    <gap:plugin name="org.apache.cordova.core.dialogs" />
    <gap:plugin name="org.apache.cordova.core.inappbrowser" />
    
    <gap:plugin name="com.phonegap.plugins.facebookconnect">
	    <param name="APP_ID" value="161092774064906" />
	    <param name="APP_NAME" value="FitnessMobile" />
	</gap:plugin>	

</widget>