<section id="alusta_laadimist" class="centered frame">
				<section class="me title">
					<img src="i/icon_settings.png" alt=""/>
					<h3>Vali kategooria ja alusta laadimist</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="text_item" >
						<div class="text_wrap">
							<h5>Videote eraldi alla laadimine annab Sulle võimaluse vältida probleeme videote vaatamisel spordisaalis, kus internetiühendus võib tõrkuda.</h5>
						</div>
					</section>
					<h3 style="color:white;">Kava põhiselt</h3>
					<section class="wrap2 items-container1">
						
					
					</section>
					
					<h3 style="color:white;">Kategooria põhiselt</h3>
					<section class="wrap2 items-container2">
						
					
					</section>
					<section class="nobg_item remove-all">
						<h3>Kustuta ära kõik videod</h3>		
					</section>
					<section class="item-template" style="display:none;">
						
						<section class="downloadgroup">
								<div class="w50">
									<div class="downloadimg">
										<div class="downloadcircle"><span>0/10</span></div>
										<img src="i/download1.jpg" alt=""/>
									</div>
								</div>
								<div class="w50">
									<h4 class="downloadtitle">Soojendus harjutused</h4>
									<section class="nobg_item arrow" >
										<h4>Alusta laadimist</h4><!--
										<img src="i/icon_ok.png" alt=""/>
										<img src="i/icon_pause.png" alt=""/>-->
									</section>
								</div>
								<div class="clear"></div>
						</section>
						
					</section>
					
				</section>
			
</section> <!-- alusta_laadimist -->