<section id="diary" class="centered frame">
				<section class="me title">
					<img src="i/icon_paevik.png" alt=""/>
					<h3 class="translate" data-keyword="training_diary">TREENINGPÄEVIK</h3>
					<div class="clear"></div>
				</section>
				
				<section id="diaryscroll" class="toscroll">
					
					<div class="diary-content">
						
					</div>

					<div class="diary-template" style="display:none;">
						<section class="month">
							<h4 class="followMeBar"></h4>
							
						</section>	
					</div>
					
				</section>
			
			</section> <!-- Treeningpäevik -->