<section id="diary_detail" class="centered frame">
				<section class="me title">
					<img src="i/icon_paevik.png" alt=""/>
					<h3>TREENINGPÄEV</h3>
					<div class="clear"></div>
				</section>
				
				<section id="diaryscroll" class="toscroll">
					<section class="month">
						<div class="treening" style="height:100%;">
							<div class="arrow" style="background:none;">
								<div>Kuupäev: <span class="date"> 31.02.2013</span></div>
								<div>Kava: <span class="kava">Superseeriatega edasijõudnutele</span></div>
								<div>Treeningpäev: <span class="paev">Jalad, kõht</span></div>
								<div>Treeningu kestus: <span class="length">01:22:56</span></div>
							</div>
						</div>
						<div class="exercises-content">
						</div>
					</section>
				</section>
				<section class="exercise-template">
					
					<div class="treening" style="height:100%;">
							<div class="arrow" style="background:none;">
								<h3></h3>
								<div class="info-content"></div>
							</div>
						</div>
					
				</section>
			
			</section> <!-- Treeningpäevik -->
			
			