<section id="fitnesstest" class="centered frame">
				<section class="me title">
					<img src="i/icon_test.png" alt=""/>
					<h3>TAVATEST</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="testing test1" >
							<section class="thenumber">
								<div class="element"><span>1</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test1.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" id="tulemusinput1"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn"data-result="1">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section class="testing test2" >
							<section class="thenumber">
								<div class="element"><span>2</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test2.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" id="tulemusinput2"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn" data-result="2">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section class="testing test3" >
							<section class="thenumber">
								<div class="element"><span>3</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test3.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" id="tulemusinput3"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn"data-result="3">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section class="testing test4" >
							<section class="thenumber">
								<div class="element"><span>4</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test4.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" id="tulemusinput4"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn" data-result="4">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section class="testing test5" >
							<section class="thenumber">
								<div class="element"><span>5</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test5.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" value="" id="tulemusinput5"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn" data-result="5">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
					
				
					<section class="nobg_item " >
								<h3>SALVESTA TULEMUSED</h3>		
						</section>
					
					
				</section>
			
			</section> <!-- fitnesstest -->