<section id="fitnesstest" class="centered frame">
				<section class="me title">
					<img src="i/icon_test.png" alt=""/>
					<h3>TAVATEST</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section id="test1" class="testing test1" >
							<section class="thenumber">
								<div class="element"><span>1</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverdused </h3>
								<div class="clear"></div>
								
								<img src="i/test/test1.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" id="tulemusinput1"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn"data-result="1" data-exercise="pushup">
											<h3>VAATA TULEMUST</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section id="test2" class="testing test2" >
							<section class="thenumber">
								<div class="element"><span>2</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kõhulihased </h3>
								<div class="clear"></div>
								
								<img src="i/test/test2.jpg" alt=""/>
								<p>Lähteasend: lamada selili, jalad põlvest täisnurkselt kõverdatud, pea maas, käed ja näpud sirged, peopesa toetub reie eesküljele. Aeglase, kontrollitud liigutusega tõsta pea ja õlavöö üles nii, et näpud ulatuvad põlvekedrani</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" id="tulemusinput2"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn" data-result="2" data-exercise="situp">
											<h3>VAATA TULEMUST</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section id="test3" class="testing test3" >
							<section class="thenumber">
								<div class="element"><span>3</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kükid </h3>
								<div class="clear"></div>
								
								<img src="i/test/test3.jpg" alt=""/>
								<p>Jalad õlgade laiuselt, kannad hoida maas, selg sirge, vaade otse. Kükkida nii madalale, et sõrmed puudutavad maad, mitte üle 50 küki</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" id="tulemusinput3"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn"data-result="3" data-exercise="sitdown">
											<h3>VAATA TULEMUST</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section id="test4" class="testing test4" >
							<section class="thenumber">
								<div class="element"><span>4</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Ettepainduvus </h3>
								<div class="clear"></div>
								
								<img src="i/test/test4.jpg" alt=""/>
								<p>Lähteasend: istuda põrandal, jalad põlvest sirged (vastu põrandat!), labajalad õlgade laiuselt, üles painutatud (mitte välja sirutatud). Kannad on vastu “nulljoont” (näiteks teibiga märgitud). Põrandale on kinnitatud möödulint, mis läheb testitava jalgade vahelt läbi.  Aeglaselt ette painutades ja välja hingates puudutada näpuotstega mõõdulinti</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" id="tulemusinput4"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn" data-result="4" data-exercise="flexing">
											<h3>VAATA TULEMUST</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section id="test5" class="testing test5" >
							<section class="thenumber">
								<div class="element"><span>5</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Aeroobne</h3>
								<div class="clear"></div>
								
								<img src="i/test/test5.jpg" alt=""/>
								<div class="cont">
									
									
									<h5>Vali trenazöör:</h5>
									<section class="nobg_item tiny" data-type="running">
											<h4>JOOKSULINT</h4>		
									</section>
									<section class="nobg_item tiny grey" data-type="bicycle">
											<h4>VELOERGOMEETER</h4>		
									</section>
									<section class="nobg_item tiny grey" data-type="boat">
											<h4>SÕUDEERGOMEETER</h4>		
									</section>
								</div>
								
								<div class="clear"></div>
								<p style="width:100%;margin:3%;">See on test, kus sa pead palju rabelema ning higistama. Edu..</p>
								<br class="clear" />
								<br class="clear" />
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" value="" id="tulemusinput5"/>
									
									
								<div class="clear"></div>
									<section class="nobg_item tulemusbtn" data-result="5" data-exercise="aero">
											<h3>VAATA TULEMUST</h3>		
									</section>
								</div>
							</section>
					</section>
					
				</section>
			
			</section> <!-- fitnesstest -->