<section id="harjutused_subpage1" class="harjutused centered frame">
				<section class="me title harjutused">
					<img class="filter" src="i/filtreeriback2.png" alt=""/>
					<img src="i/harjutused.png" alt=""/>
					<h3>HARJUTUSED</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
					<section class="content-content">
					
					</section>
					<section data-level="3" data-page="alusta_laadimist" class="nobg_item to-download teleport">
						<h3 class="translate" data-keyword="download_videos">Lae alla videod</h3>		
					</section>
				</section>
				
				
				<section class="content-template" style="display:none;">
				
					<section class="harjutus_item teleport" data-extra_id="1" data-page="video" data-level="3">
						<div class="img">
							<img class="play" src="i/harjutused/play.png" alt=""/>
							<img src="i/harjutused/4.jpg" alt=""/>
						</div>
						<h3></h3>
					</section>	
				
				</section>
			
			</section> <!-- lisandid -->