<section id="harjutused" class="harjutused centered frame">
				<section class="me title harjutused">
					<img class="filter" src="i/filtreeri.png" alt=""/>
					<img src="i/harjutused.png" alt=""/>
					<h3>HARJUTUSED</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
					<div class="module-content">
					
					</div>
					<div class="module-template">
						<section class="harjutus_item teleport" data-cat="1" data-page="harjutused_subpage1" data-level="2" >
							<div class="img">
								<img src="i/harjutused/1.jpg" alt=""/>
								<div class="bubble" id="exercise_cat_1">0</div>
							</div>
							<h3>Soojendus-<br />harjutused</h3>
						</section>
					</div>
				</section>
			
			</section> <!-- lisandid -->