<section id="harjutused" class="harjutused centered frame">
				<section class="me title harjutused">
					<img class="filter" src="i/filtreeri.png" alt=""/>
					<img src="i/harjutused.png" alt=""/>
					<h3>HARJUTUSED</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="harjutus_item teleport" data-cat="1" data-page="harjutused_subpage1" data-level="2" >
							<div class="img">
								<img src="i/harjutused/1.jpg" alt=""/>
								<div class="bubble" id="exercise_cat_1">0</div>
							</div>
							<h3>Soojendus-<br />harjutused</h3>
					</section>
					
					<section class="harjutus_item teleport" data-cat="2" data-page="harjutused_subpage1" data-level="2"  >
							<div class="img">
								<img src="i/harjutused/2.jpg" alt=""/>
								<div class="bubble" id="exercise_cat_2">0</div>
							</div>
							<h3>Harjutused<br />masinatel</h3>
					</section>
					
					<section class="harjutus_item teleport" data-cat="3" data-page="harjutused_subpage1" data-level="2" >
							<div class="img">
								<img src="i/harjutused/3.jpg" alt=""/>
								<div class="bubble" id="exercise_cat_3">0</div>
							</div>
							<h3>Vabad raskused</h3>
					</section>
					
					<section class="harjutus_item teleport" data-cat="4" data-page="harjutused_subpage1" data-level="2" >
							<div class="img">
								<img src="i/harjutused/4.jpg" alt=""/>
								<div class="bubble" id="exercise_cat_4">0</div>
							</div>
							<h3>Venitusharjutused</h3>
					</section>
					
					<section class="harjutus_item teleport" data-cat="5" data-page="harjutused_subpage1" data-level="2" >
							<div class="img">
								<img src="i/harjutused/5.jpg" alt=""/>
								<div class="bubble" id="exercise_cat_5">0</div>
							</div>
							<h3>Muu</h3>
					</section>
					
					
					
				</section>
			
			</section> <!-- lisandid -->