<section id="homepage" class="centered frame">
				<section class="me">
					<img src="i/thumb.png" alt=""/>
					<h2></h2>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
					<section class="bigitem diary diarybtn teleport" data-page="diary" data-level="2">
						<div class="item_wrap">
							<h2 class="translate" data-keyword="training_diary">Treeningpäevik</h2>
							<div class="w50">
								<span class="translate" data-keyword="trainings">Treeningud</span>: <span class="treeningud_number">0</span>
								<span class="translate" data-keyword="training_hours">Treeningtunnid</span>: <br>
								<span class="treeningud_time">00:00:00</span>
							</div>
							
							<div class="w50">
								<span class="translate" data-keyword="last_training">Viimane treening</span>:<br>
								<span class="last_update">-</span>
							</div>
							
							<div class="clear"></div>
						</div>
					</section>
					
					
					
					<section class="item fitnesstest testbtn teleport" data-page="tavatest" data-level="1">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="fitness_test">Fitness test</h3>
						</div>
					</section>
					
					<section class="item notification testbtn teleport" data-page="teated" data-level="2">
						<div class="item_wrap">
							<h3><span class="translate" data-keyword="notifications">Teated</span> <span id="notificationsCount">(2)</span></h3>
						</div>
					</section>
					
					<section class="alusta teleport start-new" data-page="uustreening" data-level="1">
							<div class="item_wrap">
								<h3 class="translate" data-keyword="start_training">Alusta treeningut</h3>
							</div>
					</section>
					
					<section class="alusta teleport continue-existing" data-page="treening_naidiskavad_1paev" data-extra_id="0" data-level="1">
							<div class="item_wrap">
								<h3 class="translate" data-keyword="continue_training">Jätka treeningut</h3>
							</div>
					</section>
					
					<section class="item pakkumised pakkumisedbtn teleport" data-page="treenerpakkumised" data-level="2">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="special_offers">Eripakkumised</h3>
						</div>
					</section>
					
					<section class="item soodustused soodustusedbtn teleport" data-page="soodustused" data-level="2">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="all_special_offers">Kõik sooduspakkumised</h3>
						</div>
					</section>	
				</section>
			
			</section>