<section id="homepage" class="centered frame">
				<section class="me">
					<img src="#" alt=""/>
					<h2></h2>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
					
				
					<section class="bigitem diary diarybtn teleport" data-page="diary" data-level="2">
						<div class="item_wrap">
							<h2 class="translate" data-keyword="training_diary">Treeningpäevik</h2>
							<div class="w50">
								Treeningud: <span class="treeningud_number">0</span>
								Treeningtunnid: <br>
								<span class="treeningud_time">00:00:00</span>
							</div>
							
							<div class="w50">
								Viimane treening:<br>
								<span class="last_update">-</span>
							</div>
							
							<div class="clear"></div>
						</div>
					</section>
					
					
					
					<section class="item fitnesstest testbtn teleport" data-page="tavatest" data-level="1">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="fitness_test">Fitness test</h3>
						</div>
					</section>
					
					<section class="item notifications testbtn teleport" data-page="teated" data-level="2">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="notifications">Teated <span id="notificationsCount">(2)</span></h3>
						</div>
					</section>
					
					<section class="alusta teleport" data-page="uustreening" data-level="1">
							<div class="item_wrap">
								<h3 class="translate" data-keyword="start_training">Alusta treeningut</h3>
							</div>
					</section>
					
					<section class="item pakkumised pakkumisedbtn teleport" data-page="pakkumised" data-level="2">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="special_offers">Eripakkumised</h3>
						</div>
					</section>
					
					<section class="item soodustused soodustusedbtn teleport" data-page="soodustused" data-level="2">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="all_special_offer">Kõik sooduspakkumised</h3>
						</div>
					</section>	
				</section>
			
			</section>