<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
		<meta http-equiv="Cache-control" content="public">
        <title></title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="css/_main.css">
        <link rel="stylesheet" href="css/normalize.css">
    </head>
    <body>

		<section class="page-wrap">
		
			<section id="frontpage" class="frame open" style="opacity: 1">
				<img class="bg" src="i/bg1.jpg" alt=""/>
				<section class="wrap">
					
					<img class="logo" src="i/logo.png" alt=""/>
					
					<hgroup>
						<h2>Sinu uus ja mugav</h2>
						<h3>treeningpäevik</h3>
					</hgroup>
					
					<div class="w50">
						<a href="javascript:void(0);" class="fb loginbtn"><span>Logi sisse</span></a>
					</div>
					
					<div class="w50">
						<a href="javascript:void(0);" class="acc loginbtn"><span>Logi sisse</span></a>
					</div>
					<div class="clear"></div>
				</section>
			</section>
			
			
			<section id="login" class="frame" >
				<img class="bg" src="i/bg2.jpg" alt=""/>
				<section class="wrap">
					
					<img class="logo" src="i/logo.png" alt=""/>
					
					<hgroup>
						<h2>Sisselogimine</h2>
						<h3>spordiklubi kasutajaga</h3>
					</hgroup>
					
					
						<form id="loginForms" action="#">
							<label>Liikmenumber</label>
							<input type="number" class="defaultText" val="" title="" />
							
							<label>Parool</label>
							<input type="password" class="defaultText" val="" title=""/>
							
							<div class="w50_center">
								<a href="#" class="acc loginbtn touchhover"><span>Logi sisse</span></a>
							</div>
						</form>
					<div class="clear"></div>
				</section>
			</section>
			
			
			
			
			<section id="index" class="centered frame">
				<section class="me">
					<img src="i/thumb.png" alt=""/>
					<h2>Päärn Brauer</h2>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					<section class="bigitem diary diarybtn" data-level="2">
						<div class="item_wrap">
							<h2>Treeningpäevik</h2>
							<div class="w50">
								Treeningud: <span class="treeningud_number">169</span>
								Treeningtunnid: <br>
								<span class="treeningud_time">167:32:11</span>
							</div>
							
							<div class="w50">
								Viimane treening:<br>
								<span class="last_update">3 päeva tagasi</span>
							</div>
							
							<div class="clear"></div>
						</div>
					</section>
					
					<section class="item pakkumised pakkumisedbtn" data-level="2">
						<div class="item_wrap">
							<h3>Eripakkumised</h3>
						</div>
					</section>
					
					<section class="item soodustused soodustusedbtn" data-level="2">
						<div class="item_wrap">
							<h3>Kõik sooduspakkumised</h3>
						</div>
					</section>	
					
					<section class="alusta">
						
							<a href="#" class="start alustatreeningutbtn"></a>
						
					</section>
				</section>
			
			</section>
			
			
			
			
			<section id="diary" class="centered frame">
				<section class="me title">
					<img src="i/icon_paevik.png" alt=""/>
					<h3>Treeningpäevik</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
					
					<section class="month">
						<h4>VEEBRUAR 2013  (2 treening korda)</h4>
						<div class="treening">
							<div class="arrow">
								<div>Kuupäev: <span class="date"> 31.02.2013</span></div>
								<div>Kava: <span class="kava">Superseeriatega edasijõudnutele</span></div>
								<div>Treeningpäev: <span class="paev">Jalad, kõht</span></div>
								<div>Treeningu kestus: <span class="length">01:22:56</span></div>
							</div>
						</div>
						<div class="treening">
							<div class="arrow">
								<div>Kuupäev: <span class="date"> 31.02.2013</span></div>
								<div>Kava: <span class="kava">Superseeriatega edasijõudnutele</span></div>
								<div>Treeningpäev: <span class="paev">Jalad, kõht</span></div>
								<div>Treeningu kestus: <span class="length">01:22:56</span></div>
							</div>
						</div>
					</section>	
					
					<section class="month">
						<h4>VEEBRUAR 2013  (2 treening korda)</h4>
						<div class="treening">
							<div class="arrow">
								<div>Kuupäev: <span class="date"> 31.02.2013</span></div>
								<div>Kava: <span class="kava">Superseeriatega edasijõudnutele</span></div>
								<div>Treeningpäev: <span class="paev">Jalad, kõht</span></div>
								<div>Treeningu kestus: <span class="length">01:22:56</span></div>
							</div>
						</div>
						<div class="treening">
							<div class="arrow">
								<div>Kuupäev: <span class="date"> 31.02.2013</span></div>
								<div>Kava: <span class="kava">Superseeriatega edasijõudnutele</span></div>
								<div>Treeningpäev: <span class="paev">Jalad, kõht</span></div>
								<div>Treeningu kestus: <span class="length">01:22:56</span></div>
							</div>
						</div>
					</section>	
					
					
					<section class="month">
						<h4>VEEBRUAR 2013  (2 treening korda)</h4>
						<div class="treening">
							<div class="arrow">
								<div>Kuupäev: <span class="date"> 31.02.2013</span></div>
								<div>Kava: <span class="kava">Superseeriatega edasijõudnutele</span></div>
								<div>Treeningpäev: <span class="paev">Jalad, kõht</span></div>
								<div>Treeningu kestus: <span class="length">01:22:56</span></div>
							</div>
						</div>
						<div class="treening">
							<div class="arrow">
								<div>Kuupäev: <span class="date"> 31.02.2013</span></div>
								<div>Kava: <span class="kava">Superseeriatega edasijõudnutele</span></div>
								<div>Treeningpäev: <span class="paev">Jalad, kõht</span></div>
								<div>Treeningu kestus: <span class="length">01:22:56</span></div>
							</div>
						</div>
					</section>	
				</section>
			
			</section> <!-- Treeningpäevik -->

			
			
			<section id="pakkumised" class="centered frame">
				<section class="me title">
					<img src="i/icon_pakkumised.png" alt=""/>
					<h3>Eripakkumised</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
							<div class="clear"></div>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/2.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img src="sooduspakkumised/3.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/2.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/3.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
							<div class="clear">
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
							<div class="clear"></div>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/2.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/3.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
				</section>
			</section> <!-- pakkumised -->
			
			
			
			<section id="soodustused" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h3>Kõik sooduspakkumised</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
							<div class="clear"></div>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/2.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/3.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/2.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/3.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
							<div class="clear">
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
							<div class="clear"></div>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/2.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 detailsbtn">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/3.jpg" alt=""/></div>
							<h4>Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="#" class="details"><span>Lähemalt</span></a>
						</section>
						
				</section>
			</section> <!-- soodustused -->
			
			
			
			
			
			<section id="treenerpakkumised" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h4>Personaalsed sooduspakkumised</h4>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
						<section class="box99 treener">
							<div class="thumbnail"><img src="i/treener1.png" alt=""/></div>
							<h2>John Doe</h2>
							<h4>Vali teeningkava:</h4>
							<div class="clear"></div>
						</section>
						
						<section class="box33 selectbtn" data-id="1">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
							<h4 class="name">Jõutreening 1 nädala kava</h4>
							<h4 class="price">33 €</h4>
							<a href="javascript:void(0);" class="details detailsbtn"><span>Lähemalt</span></a>
							<div class="clear"></div>
						</section>
						
						<section class="box33 selectbtn" data-id="2">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/2.jpg" alt=""/></div>
							<h4 class="name">Jõutreening 2 nädala kava</h4>
							<h4 class="price">33 €</h4>
							<a href="javascript:void(0);" class="details detailsbtn"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 selectbtn" data-id="3">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/3.jpg" alt=""/></div>
							<h4 class="name">Jõutreening 3 nädala kava</h4>
							<h4 class="price">33 €</h4>
							<a href="javascript:void(0);" class="details detailsbtn"><span>Lähemalt</span></a>
						</section>
						
						
						<section class="box33 selectbtn" data-id="4">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
							<h4 class="name">Jõutreening 4 nädala kava</h4>
							<h4>33 €</h4>
							<a href="javascript:void(0);" class="details detailsbtn"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 selectbtn" data-id="5">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/2.jpg" alt=""/></div>
							<h4 class="name">Jõutreening 5 nädala kava</h4>
							<h4 class="price">33 €</h4>
							<a href="javascript:void(0);" class="details detailsbtn"><span>Lähemalt</span></a>
						</section>
						
						<section class="box33 selectbtn" data-id="6">
							<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/3.jpg" alt=""/></div>
							<h4 class="name">Jõutreening 6 nädala kava</h4>
							<h4 class="price">33 €</h4>
							<a href="javascript:void(0);" class="details detailsbtn"><span>Lähemalt</span></a>
						</section>
						
						
						<a href="javascript:void(0);" class="buybtn">OSTA</a>
						
				</section>
			</section> <!-- treenerpakkumised -->
			
			
			
			
			
			<section id="lisandid" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h3>TOIDULISANDID</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="item noicon treenerpakkumisedbtn" data-level="2">
						<div class="item_wrap">
							<h3>Sooduspakkumised treeneri soovitusel</h3>
						</div>
					</section>
					
					<section class="item noicon soodustusedbtn" data-level="2">
						<div class="item_wrap">
							<h3>Kõik sooduspakkumised</h3>
						</div>
					</section>	
					
					
				</section>
			
			</section> <!-- lisandid -->
			
			
			<section id="alustatreeningut" class="centered frame">
				<section class="me title">
				</section>
				
				<section class="toscroll">
				
					
					<section class="item uuskava" data-level="2">
						<div class="item_wrap">
							<h3>Vali uus treeningkava</h3>
						</div>
					</section>
				
					
					<section class="item jatkakava" data-level="2">
						<div class="item_wrap">
							<h3>Jätka treeningkava</h3>
						</div>
					</section>
					
					<section class="item fitnesstest testbtn" data-level="2">
						<div class="item_wrap">
							<h3>Fitness test</h3>
						</div>
					</section>
					
					
				</section>
			
			</section> <!-- alustatreeningut -->
			
			
			
			<section id="test" class="centered frame ">
				<section class="me title">
					<img src="i/icon_test.png" alt=""/>
					<h3>FITNESS TEST</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="item noicon whitebg tavatestbtn" data-level="3">
						<div class="item_wrap">
							<h3>Tavatest</h3>
						</div>
					</section>
				
					<section class="item pump">
						<div class="item_wrap">
							<h3>&nbsp;</h3>
						</div>
					</section>
					
					
				</section>
			
			</section> <!-- test -->
			
			
			
			
			
			<section id="tavatest" class="centered frame">
				<section class="me title">
					<img src="i/icon_test.png" alt=""/>
					<h3>TAVATEST</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="nobg_item touchhover datepicker">
							<h3>Sisesta sünniaasta</h3>	
					</section>
					
					<section class="nobg_item touchhover meesbtn"  data-level="4">
							<h3>Mees</h3>		
					</section>
					
					<section class="nobg_item touchhover nainebtn"  data-level="4">
							<h3>Naine</h3>		
					</section>
				
					
					
				</section>
			
			</section> <!-- tavatest -->
			
			
			
			<section id="fitnesstest" class="centered frame">
				<section class="me title">
					<img src="i/icon_test.png" alt=""/>
					<h3>TAVATEST</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="testing test1" >
							<section class="thenumber">
								<div class="element"><span>1</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test1.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" var=""/>
									
									
								<div class="clear"></div>
									<section class="nobg_item touchhover tulemusbtn">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section class="testing test2" >
							<section class="thenumber">
								<div class="element"><span>2</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test2.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" var=""/>
									
									
								<div class="clear"></div>
									<section class="nobg_item touchhover tulemusbtn">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section class="testing test3" >
							<section class="thenumber">
								<div class="element"><span>3</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test3.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" var=""/>
									
									
								<div class="clear"></div>
									<section class="nobg_item touchhover tulemusbtn">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section class="testing test4" >
							<section class="thenumber">
								<div class="element"><span>4</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test4.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" var=""/>
									
									
								<div class="clear"></div>
									<section class="nobg_item touchhover tulemusbtn">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
				
					
					<section class="testing test5" >
							<section class="thenumber">
								<div class="element"><span>5</span></div>
							</section>
							
							<section class="testing_wrap">
								<h3>Kätekõverldused </h3>
								<div class="clear"></div>
								
								<img src="i/test5.jpg" alt=""/>
								<p>Alla lastes peab rind puudutama põrandat. Test lõpeb, kui ei suudeta hoida keha asendit või ei suudeta käsi lõpuni sirutada</p>
								
								<div class="clear"></div>
								
								<div class="answer">
									<label>Sisesta oma tulemus:</label>
									<input type="number" var=""/>
									
									
								<div class="clear"></div>
									<section class="nobg_item touchhover tulemusbtn">
											<h3>Vaata tulemust</h3>		
									</section>
								</div>
							</section>
					</section>
					
				
					
					
				</section>
			
			</section> <!-- test -->
			
			
			
			
			
			
			
			
			<section id="overlay" class="overlay ">
				<div class="backbtn">TAGASI</div>
				
					<section class="loadedcontent">
					
						<img class="preview" src="i/thumb2.png" alt=""/>
						
						<h1>Gold gym protein</h1>
						<h4>After taining</h4>
						<h2>33 €</h2>
					
						<p>Lorem ipsum dolor sit amet, sodales amet condimentum arcu malesuada sodales justo, integer pulvinar id integer etiam dictumst arcu, nullam vel habitasse dignissim vitae. Pellentesque consectetuer urna elit odio ante, justo magna ut enim morbi eros nec, tincidunt libero mauris nam arcu justo interdum, augue fermentum nulla nunc, dolor a faucibus vitae dolor eget vel. Fusce dictum aliquet suspendisse non ut, vehicula mollis, lacinia metus urna turpis, non elit ut, rutrum morbi dictum torquent ut. Mauris eveniet proin in, sem mauris integer elit, fugiat sed fermentum semper dictum vitae eros, id in. Morbi tincidunt lacinia purus suspendisse, quam nulla praesent.</p>
						<img src="i/voucher.png" alt=""/>
						
					</section>
			
			</section>
			
			
			<section id="buyoverlay" class="overlay ">
				<div class="backbtn">TAGASI</div>
				
					<section class="checkout">

						
					</section>
			
			</section>
			
			
			
			
			<section id="topbar" class="topbar">
				<a href="#" id="menu"><img src="i/menuicon.png" alt=""/></a>
				<div class="backbtn" data-deep="">TAGASI</div>
				<img  data-level="0" class="logo" src="i/logo2.png" alt=""/>
			</section>
			
			
			<section id="bottombar" class="bottombar">
				<a href="#" data-level="1" class="homebtn touchhover active"><span><img src="i/kodu.png" alt=""/></span>KODU</a>
					<div class="devider1"><img src="i/bar_devider.png" alt=""/></div>
				<a href="#" data-level="1" class="treeningbtn alustatreeningutbtn touchhover"><span><img src="i/treening.png" alt=""/></span>TREENING</a>
					<div class="devider2"><img src="i/bar_devider.png" alt=""/></div>
				<a href="#" data-level="1" class="harjutusedbtn touchhover"><span><img src="i/harjutused.png" alt=""/></span>HARJUTUSED</a>
				<span></span>
			</section>
			
			
			
			
			
			<section id="themenu">
				<section id="menuscroll">
					<a href="#" data-level="1" class="menu home homebtn active"><span></span><p>Avaleht</p></a>
					<a href="#" data-level="1" class="menu pank "><span></span><p>Harjutuste pank</p></a>
					<a href="#" data-level="1" class="menu kavad "><span></span><p>Treeningkavad</p></a>
					<a href="#" data-level="1" class="menu toit "><span></span><p>Toitumiskavad</p></a>
					<a href="#" data-level="1" class="menu ostmine "><span></span><p>Kavade ostmine</p></a>
					<a href="#" data-level="1" class="menu lisandid lisandidbtn"><span></span><p>Toidulisandid</p></a>
					<a href="#" data-level="1" class="menu paevik diarybtn"><span></span><p>Treeningupäevik</p></a>
					<a href="#" data-level="1" class="menu profile "><span></span><p>Profiil</p></a>
					<a href="#" data-level="1" class="menu test testbtn"><span></span><p>Fitness test</p></a>
				</section>
			</section>
			
		</section>
		
		
        <script src="js/vendor/jquery-2.0.0.min.js"></script>

        <script src="js/swipe.js"></script>

        <script src="js/_main.js"></script>
    </body>
</html>
