<section id="ise_tehtud_kavad" class="centered frame">
				<section class="me title">
					<img src="i/icon_list.png" alt=""/>
					<h3>ISE TEHTUD KAVAD</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="text_item" >
						<div class="text_wrap">
							<h4>Lorem ipsum dolor sit amet, dui pretium suscipit nulla officia, euismod accumsan wisi id netus, metus imperdiet non proin mi fusce, ultricies et dui tellus laboriosam lectus magna, amet faucibus libero. </h4>
						</div>
					</section>
					
					<img src="i/fitnessgirls.jpg" alt=""/>
					
					<section class="nobg_item preemium" data-page="" data-level="4">
							<h3>Preemium</h3>		
					</section>
					
					
				</section>
			
</section> <!-- ise_tehtud_kavad -->