<section id="kavade_ostmine" class="centered frame">
				<section class="me title">
					<img src="i/icon_shop.png" alt=""/>
					<h3>VALI KAVA</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll kavade_ostmine">
						<section class="box33 kavabtn selected" data-page="kavade_ostmine_treening" data-type="training" data-level="1">
							<h4>Treeningkava</h4>
						</section>
						<section class="box33 kavabtn" data-page="kavade_ostmine_toit" data-type="nutrition" data-level="1">
							<h4>Toitumiskava</h4>
						</section>
						<section class="box33 kavabtn" data-type="both">
							<h4>Mõlemad</h4>
						</section>
						
						<div class="vdevider"></div>
						
						
						<h3>Vali treener</h3>
						<section class="content-content">
						
						</section>
						<section class="content-template" style="display:none;">
							<section class="box33 selectbtn1 teleport" data-page="vali_kava" data-level="2" data-id="0">
								<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
								<h4>Marek Tabur</h4>
								<h5>Bodybuilding treener</h5>
								<a href="#" class="details detailsbtn" data-id="0"><span>Lähemalt</span></a>
								<div class="clear"></div>
							</section>
						</section>
						
				</section>
			</section> <!-- pakkumised -->