<section id="lisandid" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h3>TOIDULISANDID</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="item noicon treenerpakkumisedbtn teleport" data-page="treenerpakkumised" data-level="2">
						<div class="item_wrap">
							<h3>Sooduspakkumised treeneri soovitusel</h3>
						</div>
					</section>
					
					<section class="item noicon soodustusedbtn teleport" data-page="soodustused" data-level="2">
						<div class="item_wrap">
							<h3>Kõik sooduspakkumised</h3>
						</div>
					</section>	
					
					
				</section>
			
			</section> <!-- lisandid -->