<section id="lisandid" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h3 class="translate" data-keyword="food_nutritions">TOIDULISANDID</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="item noicon treenerpakkumisedbtn teleport" data-page="treenerpakkumised" data-level="2">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="special_offers">Treener soovitab</h3>
						</div>
					</section>
					
					<section class="item noicon soodustusedbtn teleport" data-page="soodustused" data-level="2">
						<div class="item_wrap">
							<h3 class="translate" data-keyword="all_special_offers">Kõik sooduspakkumised</h3>
						</div>
					</section>	
					
					
				</section>
			
			</section> <!-- lisandid -->