<section id="login" class="frame" >
				<img class="bg" src="i/mbg2.jpg" alt=""/>
				<section class="wrap">
					
					<img class="logo teleport" src="i/logo.png" alt="" data-page="frontpage" data-level="0" />
					
					<hgroup>
						<h2 class="translate" data-keyword="login_slogan-1"></h2>
						<h3 class="translate" data-keyword="login_slogan-2"></h3>
					</hgroup>
					
					
						<form id="loginForms" action="#">
							<label class="translate" data-keyword="member_number"></label>
							<input type="number" id="clientNr" class="defaultText" title="" value="" />
							
							<label class="translate" data-keyword="password"></label>
							<input type="password" id="clientPass" class="defaultText" title="" value="" />
							
							<div class="w50">
								<a href="#" class="loginbtn tagasibtn teleport" data-page="frontpage" data-level="0"><span class="translate" data-keyword="back"></span></a>
							</div>
							<div class="w50">
								<a href="#" class="acc loginbtn loginformbtn"><span class="translate" data-keyword="login"></span></a>
							</div>
						</form>
					<div class="clear"></div>
				</section>
			</section>