<section id="menuu1_lounasook" class="centered frame">
				<section class="me title">
					<img src="i/icon_toit.png" alt=""/>
					<h3>LÕUNASÖÖK</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="text_item f3bg" >
						<div class="text_wrap">
							
								
								<h4>Lõunasöögi menüü</h4>
								<p>150 - 200 gr kanafileed või erinevad valmis lihatooted (loomafilee, kalkunifilee, sealiha, vahest ka kala või maksa).</p>

								<p>150 - 200 gr toorsalatit või keedetud köögivilju (eriti hästi sobib lillkapsas ja brokoli, peedisalat, porgandi-õuna või ananassiga salat)</p>

								<p>1 õun või pirn keskmise suurusega.</p>


								<h4>Soovitus treenerilt:</h4>
								<p>2 kapslit MZB – Mineraalaineid enne magamaminekut.</p>
								<p>2 kapslit Omega3 rasvhappeid</p>

								<p><strong>(Leiad kategooriast Toidulisandid)</strong></p>

						</div>
					</section>
					
					
					<img src="i/lounasook.jpg" alt="" class="alignleft"/>
					
					<div class="clear"></div>
				</section>
			
			</section> <!-- lisandid -->