<section id="menuu1_hommikusook3" class="centered frame">
				<section class="me title">
					<img src="i/icon_toit.png" alt=""/>
					<h3>HOMMIKUSÖÖK</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="text_item f3bg" >
						<div class="text_wrap75">
							
								<h4>3 variant</h4>
								<p>3 praemuna singiga ca 100 gr.</p>
								<p>Lisaks 4-5 viilu sepikut ja endale sobiv puuvili: banaan, õun või pirn.</p>
								<p>Klaas keefirit.</p>

							
								<span class="touchslider-prev teleport" data-page="menuu1_hommikusook2" data-level="none" ></span>
								<span class="touchslider-next teleport" data-page="menuu1_hommikusook4" data-level="none"></span>
								
						
						</div>
					</section>
					
					
					<img src="i/hommikusook.jpg" alt="" class="alignleft"/>
					
					<div class="clear"></div>
				</section>
			
			</section> <!-- lisandid -->