			<section id="minuandmed" class="centered frame">
				<section class="me title">
					<img src="i/icon_profile.png" alt=""/>
					<h3>MINU ANDMED</h3>
					<div class="clear"></div>
				</section>

				
				<section class="toscroll">

					
					<section class="gray_item icon_ok" >
						<div class="item_wrap">
							<label for="firstname">Eesnimi:</label><input id="firstname" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item icon_ok" >
						<div class="item_wrap">
							<label for="lastname">Perekonna nimi:</label><input id="lastname" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="mail">E-post:  </label><input id="mail" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="phone">Telefon:  </label><input id="phone" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="sex">
									<option value="male">Mees</option>
									<option value="female">Naine</option>
								</select>
							</div>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="age">Vanus:  </label><input id="age" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="weight">Kaal:  </label><input id="weight" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="length">Pikkus:  </label><input id="length" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item" >
						<div class="item_wrap">
							<label for="training_activity">Kokkupuude spordiga viimasel aastal:</label>
							<textarea name="training_activity" id="training_activity" rows="3"></textarea>
						</div>
					</section>
					
					<section class="gray_item">
						<div class="item_wrap">
							<label for="training_target">Treeningu eesmärk:</label>
							<textarea name="training_target" id="training_target" rows="3"></textarea>
						</div>
					</section>
					
					<section class="gray_item icon_edit2" >
						<div class="item_wrap">
							<label for="per_week">Mitu korda nädalas võimalus treenida:</label>
							<textarea name="per_week" id="per_week" rows="3"></textarea>
						</div>
					</section>
					
					<section class="gray_item" >
						<div class="item_wrap">
							<label for="currently_training">Kas jälgite praegu treeningukava:</label>
							<textarea name="currently_training" id="currently_training" rows="3"></textarea>
						</div>
					</section>
					
					<section class="gray_item" >
						<div class="item_wrap">
							<label for="health_condition">Tervise ohutegurid ja sümptoomid:</label>
							<textarea name="health_condition" id="health_condition" rows="3"></textarea>
						</div>
					</section>
					
					<section class="nobg_item touchhover nobg_special_button orderbtn">
						<h3>Salvesta</h3>		
					</section>

				</section>
			
			</section>