			<section id="minuandmed" class="centered frame">
				<section class="me title">
					<img src="i/icon_profile.png" alt=""/>
					<h3>MINU ANDMED</h3>
					<div class="clear"></div>
				</section>

				
				<section class="toscroll">

					
					<section class="gray_item icon_ok" >
						<div class="item_wrap">
							<label for="firstname">Eesnimi:</label><input id="firstname" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item icon_ok" >
						<div class="item_wrap">
							<label for="lastname">Perekonna nimi:</label><input id="lastname" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="mail">E-post:  </label><input id="mail" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="phone">Telefon:  </label><input id="phone" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="sex">Sugu:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="sex" data-native-menu="false">
									<option value="male">Mees</option>
									<option value="female">Naine</option>
								</select>
							</div>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="age">Sünnikuupäev:  </label><input id="birthday" type="date" value="1988-09-08"/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="weight">Kaal:  </label><input id="weight" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="length">Pikkus:  </label><input id="length" type="text" value=""/>
						</div>
					</section>
					
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="training_activity">Kokkupuude spordiga viimasel aastal:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="training_activity" data-native-menu="false">
									<option value="1 korra nädalas">1 korra nädalas</option>
									<option value="1-2 korda nädalas">1-2 korda nädalas</option>
									<option value="3-4 korda nädalas">3-4 korda nädalas</option>
									<option value="üle 5 korra nädalas">üle 5 korra nädalas</option>
								</select>
							</div>
						</div>
					</section>

					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="training_activity">Treeningu eesmärk:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="training_target" data-native-menu="false">
									<option value="Vastupidavuse arendamine">Vastupidavuse arendamine</option>
									<option value="Lihasmassi kasvatamine">Lihasmassi kasvatamine</option>
									<option value="Kehakaalu langetamine">Kehakaalu langetamine</option>
								</select>
							</div>
						</div>
					</section>
					
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="training_activity">Mitu korda nädalas võimalus treenida:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="per_week" data-native-menu="false">
									<option value="1 kord nädalas">1 kord nädalas</option>
									<option value="2 korda nädalas">2 korda nädalas</option>
									<option value="3 korda nädalas">3 korda nädalas</option>
									<option value="4 korda nädalas">4 korda nädalas</option>
									<option value="5 korda nädalas">5 korda nädalas</option>
									<option value="6 korda nädalas">6 korda nädalas</option>
									<option value="7 korda nädalas">7 korda nädalas</option>
								</select>
							</div>
						</div>
					</section>

					
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="currently_training">Kas kasutate treeningkava:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="currently_training" data-native-menu="false">
									<option value="jah">Jah</option>
									<option value="ei">Ei</option>
								</select>
							</div>
						</div>
					</section>
					
					<section class="gray_item" >
						<div class="item_wrap">
							<label for="health_condition">Tervise ohutegurid ja sümptoomid:</label>
							<textarea name="health_condition" id="health_condition" rows="3"></textarea>
						</div>
					</section>
					
					<section class="nobg_item nobg_special_button orderbtn" id="saveUserData">
						<h3>Salvesta</h3>		
					</section>

				</section>
			
			</section>