<section id="ostetud" class="centered frame">
				<section class="me title">
					<img src="i/icon_profile.png" alt=""/>
					<h3>OSTETUD KAVAD</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">

					<section class="item noicon bought-trainings"  >
						<div class="item_wrap">
							<h3>Ostetud treeningkavad (<span class="training-count">3</span>)</h3>
						</div>
					</section>
					
					<section class="item noicon "  >
						<div class="item_wrap">
							<h3>Ostetud toitumiskavad (<span class="nutrition-count">(2)</span>)</h3>
						</div>
					</section>	
					<!--
					<section class="item noicon bagbtn" data-bag="ostetudkavad" >
						<div class="item_wrap">
							<h3>Ostetud treeningkavad (<span class="training-count">3</span>)</h3>
						</div>
					</section>
					
					<section class="item noicon bagbtn" data-bag="ostetudkavad" >
						<div class="item_wrap">
							<h3>Ostetud toitumiskavad (<span class="nutrition-count">(2)</span>)</h3>
						</div>
					</section>	
					-->
				</section>
			
			</section>