<h2>Ostetud treening- ja toitumiskavad (5)</h2>



		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

		<section class="box33 detailsbtn">
			<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
			<h4>Jõutreening 4 nädala kava</h4>
			<h4>33 €</h4>
			<a href="#" class="details"><span>Lähemalt</span></a>
			<div class="clear"></div>
		</section>

