<section id="personaalsed_treeningkavad" class="centered frame">
				<section class="me title">
					<img src="i/icon_list.png" alt=""/>
					<h3>Personaalsed treeningkavad</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="text_item" >
						<div class="text_wrap">
							<h4>Sul ei ole veel ühtegi personaalset treeningkava.</h4>

							<h4>Aitamaks Sul jõuda vähese ajakuluga eesmärgipäraste tulemusteni, koostavad meie professionaalsed treenerid Sulle soovi korral personaalse treeningkava.</h4> 

							<h4>Loe personaalsete treeningkavade kohta lähemalt klikkides allolevale nupule "Osta treeningkava"!</h4>
						</div>
					</section>
					
					
					<section class="nobg_item teleport" data-page="kavade_ostmine_treening" data-level="3">
							<h3>Osta treeningkava</h3>		
					</section>
					
					
				</section>
			
</section> <!-- personaalsed_treeningkavad -->