<section id="seaded" class="centered frame">
				<section class="me title">
					<img src="i/icon_settings.png" alt=""/>
					<h3 class="translate" data-keyword="settings">SEADED</h3>
					<div class="clear"></div>
				</section>

				
				<section class="toscroll">

					
					<section class="nobg_item no_icon teleport" data-page="alusta_laadimist" data-level="3">
							<h3 class="translate" data-keyword="offline_videos">Offline videod</h3>		
					</section>
					
					<section class="nobg_item club-nr">
							<h3 class="translate" data-keyword="club_nr">Sparta liikmenumber</h3>		
					</section>
					
					<section class="nobg_item lang-select">
							<h3 class="translate" data-keyword="current_language">Eesti keel</h3>		
					</section>
					
					<section class="nobg_item no_icon teleport log-out" data-page="frontpage" data-level="0">
							<h3 class="translate" data-keyword="log_out">Logi välja</h3>		
					</section>
					

				</section>
			
			</section>