<section id="soodustused" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h3 class="translate" data-keyword="all_offers">KÕIK SOODUSPAKKUMISED</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll content-content">
						
						
						
				</section>
				
				<section class="content-template" style="display:none;">
				
					<section class="box33 detailsbtn" data-id="0">
						<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="#" alt=""/></div>
						<h4></h4>
						<h5></h5>
						<a href="#" class="details" class="translate" data-keyword="details"><span>Lähemalt</span></a>
						<div class="clear"></div>
					</section>
				
				</section>
				
			</section> <!-- soodustused -->