<section id="tavatest" class="centered frame">
				<section class="me title">
					<img src="i/icon_test.png" alt=""/>
					<h3>TAVATEST</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="nobg_item touchhover datepicker">
							<h3>Sisesta sünniaasta</h3>	
					</section>
					
					<section class="nobg_item meesbtn teleport" data-page="fitnesstest" data-level="3">
							<h3>Mees</h3>		
					</section>
					
					<section class="nobg_item nainebtn teleport" data-page="fitnesstest" data-level="3">
							<h3>Naine</h3>		
					</section>
				
					
					
				</section>
			
			</section> <!-- tavatest -->