<section id="teated_detail" class="centered frame">
				<section class="me title">
					<img src="i/icon_list.png" alt=""/>
					<h3>TEATED</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					<section class="item noicon" style="height:100%;">
						<div class="item_wrap no_bg" style="background-color:lightgray !important;">
							<span class="unread-bullet"></span>
							<span class="place-holder"></span>
							<h6></h6>
							<h4 class="heading-date"></h4>
							<h3></h3>
						</div>
					</section>
					
					
				</section>
			
			</section> <!-- alustatreeningut -->