<section id="test" class="centered frame ">
				<section class="me title">
					<img src="i/icon_test.png" alt=""/>
					<h3>FITNESS TEST</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="item noicon whitebg tavatestbtn teleport" data-page="tavatest" data-level="2">
						<div class="item_wrap">
							<h3>Tavatest</h3>
						</div>
					</section>
				
					<section class="item pump">
						<div class="item_wrap">
							<h3>&nbsp;</h3>
						</div>
					</section>
					
					
				</section>
			
			</section> <!-- test -->