			<section id="treenerpakkumised" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h4>PERSONAALSED SOODUSPAKKUMISED</h4>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
						
					<section class="box99 treener">
						<!--<div class="thumbnail"><img src="i/treener1.png" alt=""/></div>
						<h2>John Doe</h2>-->
						<h4>Treenerid soovitavad:</h4>
						<div class="clear"></div>
					</section>
					<section class="content-content">
					</section>
						
				</section>
				
				<section class="content-template" style="display:none;">
				
					<section class="box33 detailsbtn" data-id="0">
						<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="#" alt=""/></div>
						<h4></h4>
						<h4></h4>
						<a href="#" class="details"><span>Lähemalt</span></a>
						<div class="clear"></div>
					</section>
				
				</section>
				
			</section> <!-- treenerpakkumised -->