<section id="treening_naidiskavad_1paev_nXn" class=" centered frame">
				<section class="me title">
					<img src="i/icon_list.png" alt=""/>
					<h3>Superseeriatega kava edasijõudutele</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll trainingbg">
					
					<section class="kestus"><span>Kogu treeningu kestus: 00:50</span></section>
					
					<section class="videotitle">
						<div class="w50">
							<div class="videopreview teleport" data-page="video" data-level="5">
								<img class="play" src="i/play2.png" alt=""/>
								<img src="i/video1.jpg" alt=""/>
							</div>
						</div>
						<div class="w50">
							<h2>Kükk smith masinal, kang turjal</h2>
							<h1>3x8</h1>
						</div>
						
						<div class="clear"></div>
					</section>
					
					<section class="exercise">
						
						<section class="seeria">
							<div class="seeriatitle">Seeria 1:</div>
							<div class="times"><div class="plus"></div><div class="minus"></div><span>8</span>x</div>
							<div class="weight"><div class="plus"></div><div class="minus"></div><span>60</span> kg</div>
							<div class="theicon"><img src="i/checked.png" alt=""/></div>
						
							<div class="clear"></div>
						</section>
						
						<section class="seeria">
							<div class="seeriatitle">Seeria 2:</div>
							<div class="times"><div class="plus"></div><div class="minus"></div><span>8</span>x</div>
							<div class="weight"><div class="plus"></div><div class="minus"></div><span>60</span> kg</div>
							<div class="theicon"><img src="i/checked.png" alt=""/></div>
						
							<div class="clear"></div>
						</section>
						
						<section class="seeria">
							<div class="seeriatitle">Seeria 3:</div>
							<div class="times"><div class="plus"></div><div class="minus"></div><span>8</span>x</div>
							<div class="weight"><div class="plus"></div><div class="minus"></div><span>60</span> kg</div>
							<div class="theicon"><img src="i/attention.png" alt=""/></div>
						
							<div class="clear"></div>
						</section>
						
						
					
						<section class="nobg_item arrow" >
								<h3>TREENINGKAVASSE</h3>		
						</section>
						
						<section class="altertimer">
							
							<section class="nobg_item timer" >
								<img src="i/icon_timer.png" alt=""/>	
							</section>
							
							<section class="nobg_item arrow" >
								<h4>Leia harjutusele alternatiiv</h4>		
							</section>
							
							<div class="clear"></div>
						</section>
						
					</section>
				
					
					
					
				</section>
			
			</section> <!-- treening_naidiskavad_1paev -->