<section id="treening_naidiskava" class="centered frame">
				<section class="me title">
					
					<h3 style="width:100%;"><img src="i/icon_list.png" alt=""/>NÄIDISKAVA</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					<div class="training-content">
					
					</div>
					<section class="item noicon teleport" data-page="treening_naidiskava_markused" data-level="4">
						<div class="item_wrap">
							<p class="description-content" style="text-align:left;">Märkused</p>
						</div>
					</section>
					
					<section data-level="2" data-page="alusta_laadimist" class="nobg_item to-download">
						<h3>Lae all kõik<br />treeningkava videod</h3>		
					</section>
					
					
				</section>
			
			</section> <!-- alustatreeningut -->