<section id="treening_naidiskavad_1paev_Xmin" class=" centered frame">
				<section class="me title">
					<img src="i/icon_list.png" alt=""/>
					<h3>SÕUDEERGOMEETER</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll trainingbg">
					
					<section class="kestus"><span>Kogu treeningu kestus: 00:50</span></section>
					
					<section class="videotitle">
						<div class="w50">
							<div class="videopreview teleport" data-page="video" data-level="5">
								<img class="play" src="i/play2.png" alt=""/>
								<img src="i/video1.jpg" alt=""/>
							</div>
						</div>
						<div class="w50">
							<h2>Sõudeergomeeter</h2>
							<h1>20min</h1>
							
							<div class="soovitusedbtn"><span>TREENERI SOOVITUSED</span></div>
							
								<div class="popup pophide">
									<div class="text_wrap">
										<ul>
											<li>Lorem ipsum dolor sit amet, platea curabitur, sodales ut imperdiet, turpis posuere</li> 

											<li>Lorem ipsum dolor sit amet, platea curabitur, sodales ut imperdiet, turpis posuere metus convallis vitae.</li>

											<li>Ipsum sem nulla porttitor praesent nostra orci. Auctor vel dictumst egestas lobortis nisl justo, a varius ipsum, nunc molestie diam. Volutpat ultrices urna. Aliquet nisl ante aliquet</li>

											<li>Volutpat ultrices urna. Aliquet nisl ante aliquet</li>
										</ul>
									</div>
								</div>
							
						</div>
						
						<div class="clear"></div>
					</section>
					
					<section class="exercise">
						
						<section class="seeria">
							<div class="w50">&nbsp;</div>
							<div class="w50 lefttimericon"><div class="plus"></div><div class="minus"></div><span>20:00</span></div>
						
							<div class="clear"></div>
						</section>
					
						
					
							<section class="nobg_item" >
								<h3>START</h3>		
							</section>
							
								
							<section class="nobg_item" >
								<h4>Leia harjutusele variatsioon</h4>		
							</section>
							
						</section>
						
					</section>
				
					
					
					
				</section>
			
			</section> <!-- treening_naidiskavad_1paev_Xmin -->