<section id="treening_naidiskavad" class="centered frame">
				<section class="me title">
					<img src="i/icon_list.png" alt=""/>
					<h3>NÄIDISKAVA</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					
					<section class="item noicon teleport" data-page="treening_naidiskavad_1paev" data-level="3">
						<div class="item_wrap">
							<h6>1 päev</h6>
							<h3>Jalad, kõht</h3>
						</div>
					</section>
				
					
					<section class="item noicon " data-page="" data-level="3">
						<div class="item_wrap">
							<h6>2 päev</h6>
							<h3>Rind, õlad, esiosa</h3>
						</div>
					</section>
					
					<section class="item noicon " data-page="" data-level="3">
						<div class="item_wrap">
							<h6>3 päev</h6>
							<h3>Puhkus</h3>
						</div>
					</section>
					
					<section class="item noicon " data-page="" data-level="3">
						<div class="item_wrap">
							<h6>4 päev</h6>
							<h3>Selg, säär</h3>
						</div>
					</section>
					
					<section class="item noicon " data-page="" data-level="3">
						<div class="item_wrap">
							<h6>5 päev</h6>
							<h3>Selg, triitseps, biitseps</h3>
						</div>
					</section>
					
					
				</section>
			
			</section> <!-- alustatreeningut -->