<section id="treening_naidiskava" class="centered frame">
				<section class="me title">
					<img src="i/icon_list.png" alt=""/>
					<h3>NÄIDISKAVA</h3>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
					<div class="training-content">
					
					</div>
					<section class="item noicon teleport" data-page="treening_naidiskavad_1paev" data-level="3" data-day="1">
						<div class="item_wrap no_bg">
							<p class="description-content">Tere, tere, tere</p>
						</div>
					</section>
					
					<section data-level="2" data-page="alusta_laadimist" class="nobg_item to-download">
						<h3>Lae all kõik<br />treeningkava videod</h3>		
					</section>
					
					
				</section>
			
			</section> <!-- alustatreeningut -->