		<section id="buyoverlay" class="overlay ">
			<div class="backbtn"></div>
			
				<section class="checkout"></section>
				
				<section class="checkoutcontent">
					<p>Olles valitud kava eest tasunud, ilmub see kas Personaalsete treeningkavade või Personaalsete toitumiskavade lehele, sõltuvalt kava tüübist. Valides sealt ostetud kava, saate hakata seda koheselt kasutama!</p> 

					<p>Valides ja tasudes aga personaaltreeningu eest, võtab treener Sinuga peatselt ühendust ja lepib kohtumiseks sobiva aja kokku!</p>
					<!--
					<section class="nobg_item" >
							<h3>LISA  TELEFONIARVELE</h3>		
					</section>
					-->
					<section class="alternatiivbtn">
						Vali alternatiiv
					</section>
					<div class="popup">
								<div class="text_wrap">
									<a href="#">SwedBank</a> 
									<a href="#">SEB</a> 
									<a href="#">Sampo</a> 
									<a href="#">Nordea</a>
								</div>
					</div>
					
				</section>
		
		</section>
		
		<section id="minuandmed" class="frame overlay">
			<div class="backbtn"></div>
			<section class="me title">
				<img src="i/icon_profile.png" alt=""/>
				<h3>MINU ANDMED</h3>
				<div class="clear"></div>
			</section>

			
			<section class="toscroll">

				
				<section class="gray_item icon_ok" >
					<div class="item_wrap">
						<label for="nimi">Nimi:  </label><textarea name="nimi" id="nimi"  rows="1">Marek</textarea>
					</div>
				</section>
				
				<section class="gray_item selects" >
					<div class="item_wrap">
						<div class="select">
							<div class="icon_select"></div>
							<select name="selection" id="selection">
								<option value="0">Please select</option>
								<option value="1">Option 1</option>
								<option value="2">Option 2</option>
								<option value="3">Option 3</option>
							</select>
						</div>
					</div>
				</section>
				
				<section class="gray_item " >
					<div class="item_wrap">
						<label for="epost">E-post:  </label><input id="epost" type="text" value=""/>
					</div>
				</section>
				
				<section class="gray_item " >
					<div class="item_wrap">
						<label for="tel">Telefon:  </label><input id="tel" type="text" value=""/>
					</div>
				</section>
				
				<section class="gray_item " >
					<div class="item_wrap">
						<label for="sugu">Sugu:  </label><input id="sugu" type="text" value=""/>
					</div>
				</section>
				
				<section class="gray_item " >
					<div class="item_wrap">
						<label for="vanus">Vanus:  </label><input id="vanus" type="text" value=""/>
					</div>
				</section>
				
				<section class="gray_item " >
					<div class="item_wrap">
						<label for="kaal">Kaal:  </label><input id="kaal" type="text" value=""/>
					</div>
				</section>
				
				<section class="gray_item " >
					<div class="item_wrap">
						<label for="pikkus">Pikkus:  </label><input id="pikkus" type="text" value=""/>
					</div>
				</section>
				
				<section class="gray_item icon_edit selectivebtn" >
					<div class="item_wrap">
						<span>Kokkupuude spordiga viimasel aastal
					</div>
				</section>
				
				<section class="gray_item icon_ok selectivebtn" >
					<div class="item_wrap">
						<span>Treeningu eesmärk?</span>
					</div>
				</section>
				
				<section class="gray_item icon_edit2 selectivebtn" >
					<div class="item_wrap">
						<span>Mitu korda nädalas võimalus treenida?</span>
					</div>
				</section>
				
				<section class="gray_item icon_edit selectivebtn" >
					<div class="item_wrap">
						<span>Kas jälgite praegu treeningukava?
					</div>
				</section>
				
				<section class="gray_item icon_edit selectivebtn" >
					<div class="item_wrap">
						<span>Tervise ohutegurid ja sümptoomid?
					</div>
				</section>

				<section class="nobg_item touchhover nobg_special_button orderbtn">
					<h3>Maksma</h3>		
				</section>
			</section>
		
		</section>

		
		<section id="vali_kava" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h4>TREENINGKAVAD</h4>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
						<section class="box99 treener">
							<div class="thumbnail"><img src="i/treener1.png" alt=""/></div>
							<h2>John Doe</h2>
							<a href="#" class="details detailsbtn" data-id="0"><span>Tutvustus</span></a>
							<div class="clear"></div>
						</section>
						
						<section class="content-content-vali-kava">
						
						</section>
						<section class="content-template-vali-kava" style="display:none;">
						
							<section class="box33 selectbtn" data-id="1">
								<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
								<h4 class="name">Jõutreening 1 nädala kava</h4>
								<h4 class="price">33 €</h4>
								<a href="javascript:void(0);" class="details detailsbtn"><span>Lähemalt</span></a>
								<div class="clear"></div>
							</section>
							
						</section>
						
				</section>
			</section> <!-- vali_kava -->