		<section id="buyoverlay" class="overlay ">
			<div class="backbtn"></div>
			
				<section class="checkout"></section>
				
				<section class="checkoutcontent">
					<p>Olles valitud kava eest tasunud, ilmub see kas Personaalsete treeningkavade või Personaalsete toitumiskavade lehele, sõltuvalt kava tüübist. Valides sealt ostetud kava, saate hakata seda koheselt kasutama!</p> 

					<p>Valides ja tasudes aga personaaltreeningu eest, võtab treener Sinuga peatselt ühendust ja lepib kohtumiseks sobiva aja kokku!</p>
					
					<section class="nobg_item" >
							<h3 class="bank-link" data-bank="bill">Saada arve meilile</h3>		
					</section>
					
					<section class="alternatiivbtn">
						Vali alternatiiv
					</section>
					<div class="popup">
								<div class="text_wrap">
									<a href="#" class="bank-link" data-bank="swed">SwedBank</a> 
									<a href="#" class="bank-link" data-bank="seb">SEB</a> 
									<a href="#" class="bank-link" data-bank="sampo">Sampo</a> 
									<a href="#" class="bank-link" data-bank="nordea">Nordea</a>
								</div>
					</div>
					
				</section>
		
		</section>
		
		<section id="minuandmed" class="frame overlay">
			<div class="backbtn"></div>
			<section class="me title">
				<img src="i/icon_profile.png" alt=""/>
				<h3>MINU ANDMED</h3>
				<div class="clear"></div>
			</section>

			
			<section class="toscroll">

				
				<section class="gray_item icon_ok" >
						<div class="item_wrap">
							<label for="firstname">Eesnimi:</label><input id="firstname" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item icon_ok" >
						<div class="item_wrap">
							<label for="lastname">Perekonna nimi:</label><input id="lastname" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="mail">E-post:  </label><input id="mail" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="phone">Telefon:  </label><input id="phone" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="sex">
									<option value="male">Mees</option>
									<option value="female">Naine</option>
								</select>
							</div>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="age">Vanus:  </label><input id="age" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="weight">Kaal:  </label><input id="weight" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="length">Pikkus:  </label><input id="length" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item" >
						<div class="item_wrap">
							<label for="training_activity">Kokkupuude spordiga viimasel aastal:</label>
							<textarea name="training_activity" id="training_activity" rows="3"></textarea>
						</div>
					</section>
					
					<section class="gray_item">
						<div class="item_wrap">
							<label for="training_target">Treeningu eesmärk:</label>
							<textarea name="training_target" id="training_target" rows="3"></textarea>
						</div>
					</section>
					
					<section class="gray_item icon_edit2" >
						<div class="item_wrap">
							<label for="per_week">Mitu korda nädalas võimalus treenida:</label>
							<textarea name="per_week" id="per_week" rows="3"></textarea>
						</div>
					</section>
					
					<section class="gray_item" >
						<div class="item_wrap">
							<label for="currently_training">Kas jälgite praegu treeningukava:</label>
							<textarea name="currently_training" id="currently_training" rows="3"></textarea>
						</div>
					</section>
					
					<section class="gray_item" >
						<div class="item_wrap">
							<label for="health_condition">Tervise ohutegurid ja sümptoomid:</label>
							<textarea name="health_condition" id="health_condition" rows="3"></textarea>
						</div>
					</section>

				<section class="nobg_item nobg_special_button orderbtn">
					<h3>Maksma</h3>		
				</section>
			</section>
		
		</section>

		
		<section id="vali_kava" class="centered frame">
				<section class="me title">
					<img src="i/icon_lisandid.png" alt=""/>
					<h4>TREENINGKAVAD</h4>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
						<section class="box99 treener">
							<div class="thumbnail"><img src="i/treener1.png" alt=""/></div>
							<h2>John Doe</h2>
							<a href="#" class="details detailsbtn" data-id="0"><span>Tutvustus</span></a>
							<div class="clear"></div>
						</section>
						
						<section class="content-content-vali-kava">
						
						</section>
						<section class="content-template-vali-kava" style="display:none;">
						
							<section class="box33 selectbtn" data-id="1">
								<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
								<h4 class="name">Jõutreening 1 nädala kava</h4>
								<h4 class="price">33 €</h4>
								<a href="javascript:void(0);" class="details detailsbtn"><span>Lähemalt</span></a>
								<div class="clear"></div>
							</section>
							
						</section>
						
				</section>
			</section> <!-- vali_kava -->