		<section id="buyoverlay" class="overlay ">
			<div class="backbtn"></div>
			
				<section class="checkout"></section>
				
				<section class="checkoutcontent checkout-bill" style="display:none;">
					<p>Arve saadeti edukalt teie poolt sisestatud e-maili peale</p> 
				</section>
				
				<section class="checkoutcontent checkout-banklink-success" style="display:none;">
					<p>Pangalingi maksel ilmnes viga, palun proovige uuesti või pöörduge: <a href="mailt:info@fitnessmobile.ee">info@fitnessmobile.ee</a></p> 
				</section>
				
				<section class="checkoutcontent checkout-banklink-error" style="display:none;">
					<p>Makse õnnestus ning kava saadetakse teile peatselt</p> 
				</section>
				
				<section class="checkoutcontent checkout-form">
					<p>Olles valitud kava eest tasunud, ilmub see kas Personaalsete treeningkavade või Personaalsete toitumiskavade lehele, sõltuvalt kava tüübist. Valides sealt ostetud kava, saate hakata seda koheselt kasutama!</p> 

					<p>Valides ja tasudes aga personaaltreeningu eest, võtab treener Sinuga peatselt ühendust ja lepib kohtumiseks sobiva aja kokku!</p>
					
					<section class="nobg_item" >
							<h3 class="bank-link" data-bank="bill">Saada arve meilile</h3>		
					</section>
					
					<section class="alternatiivbtn">
						Vali alternatiiv
					</section>
					<div class="popup">
								<div class="text_wrap">
									<a href="#" class="bank-link" data-bank="swed">SwedBank</a> 
									<a href="#" class="bank-link" data-bank="seb">SEB</a> 
									<a href="#" class="bank-link" data-bank="sampo">Sampo</a> 
									<a href="#" class="bank-link" data-bank="nordea">Nordea</a>
								</div>
					</div>
					
				</section>
		
		</section>
		
		<section id="minuandmed" class="frame overlay">
			<div class="backbtn"></div>
			<section class="me title">
				<img src="i/icon_profile.png" alt=""/>
				<h3>MINU ANDMED</h3>
				<div class="clear"></div>
			</section>

			
			<section class="">

				
					<section class="gray_item icon_ok" >
						<div class="item_wrap">
							<label for="firstname">Eesnimi:</label><input id="firstname" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item icon_ok" >
						<div class="item_wrap">
							<label for="lastname">Perekonna nimi:</label><input id="lastname" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="mail">E-post:  </label><input id="mail" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="phone">Telefon:  </label><input id="phone" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="sex">
									<option value="male">Mees</option>
									<option value="female">Naine</option>
								</select>
							</div>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="age">Vanus:  </label><input id="birthday" type="date" value="1988-09-08"/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="weight">Kaal:  </label><input id="weight" type="text" value=""/>
						</div>
					</section>
					
					<section class="gray_item " >
						<div class="item_wrap">
							<label for="length">Pikkus:  </label><input id="length" type="text" value=""/>
						</div>
					</section>
					
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="training_activity">Kokkupuude spordiga viimasel aastal:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="training_activity">
									<option value="1">1 korra nädalas</option>
									<option value="1-2">1-2 korda nädalas</option>
									<option value="3-4">3-4 korda nädalas</option>
									<option value="5">üle 5 korra nädalas</option>
								</select>
							</div>
						</div>
					</section>

					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="training_activity">Treeningu eesmärk:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="training_target">
									<option value="vastupidavus">Vastupidavuse arendamine</option>
									<option value="lihamass">Lihasmassi kasvatamine</option>
									<option value="kehakaal">Kehakaalu langetamine</option>
								</select>
							</div>
						</div>
					</section>
					
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="training_activity">Mitu korda nädalas võimalus treenida:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="per_week">
									<option value="1">1 kord nädalas</option>
									<option value="2">2 korda nädalas</option>
									<option value="3">3 korda nädalas</option>
									<option value="4">4 korda nädalas</option>
									<option value="5">5 korda nädalas</option>
									<option value="6">6 korda nädalas</option>
									<option value="7">7 korda nädalas</option>
								</select>
							</div>
						</div>
					</section>

					
					
					<section class="gray_item selects" >
						<div class="item_wrap">
							<label for="currently_training">Kas kasutate treeningkava:</label>
							<div class="select">
								<div class="icon_select"></div>
								<select name="sex" id="currently_training">
									<option value="jah">Jah</option>
									<option value="ei">Ei</option>
								</select>
							</div>
						</div>
					</section>
					
					<section class="gray_item" >
						<div class="item_wrap">
							<label for="health_condition">Tervise ohutegurid ja sümptoomid:</label>
							<textarea name="health_condition" id="health_condition" rows="3"></textarea>
						</div>
					</section>

				<section class="nobg_item nobg_special_button orderbtn">
					<h3>Maksma</h3>		
				</section>
			</section>
		
		</section>

		
		<section id="vali_kava" class="centered frame">
				<section class="me title">
					<img src="i/icon_shop.png" alt=""/>
					<h4>VALI TREENER</h4>
					<div class="clear"></div>
				</section>
				
				<section class="toscroll">
				
						<section class="box99 treener">
							<div class="thumbnail"><img src="i/treener1.png" alt=""/></div>
							<h2 style="font-size:12px;">John Doe</h2>
							<a href="#" class="details detailsbtn" id="templateIntro" data-id="0"><span>Tutvustus</span></a>
							<div class="clear"></div>
						</section>
						
						<section class="content-content-vali-kava">
						
						</section>
						<section class="content-template-vali-kava" style="display:none;">
						
							<section class="box33 selectbtn1 teleport" data-page="vali_kava" data-level="2" data-id="0">
								<div class="thumbnail"><img class="imgoverlay" src="i/imgoverlay.png" alt=""/><img src="sooduspakkumised/1.jpg" alt=""/></div>
								<h4 class="name">Marek Tabur</h4>
								<h5>Bodybuilding treener</h5>
								<a href="#" class="details choosebtn" data-id="0"><span>Vali</span></a>
								<div class="clear"></div>
							</section>
							
						</section>
						
				</section>
			</section> <!-- vali_kava -->